#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit like a Chad, this file will also be sourced.

setbg &			# set the background with the `setbg` script
xrdb "${XDG_CONFIG_HOME:-$HOME/.config}/Xresources" &	# Use Xresources colors/settings on startup
dunst &			# dunst for notifications
unclutter &		# Remove mouse when idle
